<html>

<head>
    <title>publiBLOG</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>

<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <!-- <div class="header item"><i class="icon code"></i>the PUBLIC blog</div> -->
            <div class="header item"><i id="header-logo" class="fas fa-globe"></i>publiBLOG</div>
            <a href="/" class="item">home</a>
            <a href="/blogs/new" class="item">new post</a>
        </div>
    </div>
